@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
    border:none;
    outline:none;
    scroll-behavior: smooth;
}
html{
    height:100%;
}
:root{
    --bgcolor:rgb( 2, 46, 51);
    --linkcolor:#b99481;
    --hover:white;
}
body{
     min-height:100%;
     display:flex;
     flex-direction: column;
     overflow-x: hidden;
}
/* NAV - Madalina */
header{
	top: 0;
	left: 0;
    background-color:var(--bgcolor);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
    width:100%;
    position: fixed;
    z-index:999;
}
/* logo */

#logo{
    display:flex;
    align-items: center;
    justify-content:start;
}
#logo img{
    margin-top:6px;
	width: 48px;
}
#logoText{
    width:10%;
}
/* navigation */

.menu-wrapper{
    margin-right:30px;
    width:70%;
}
#nav-menu ul{
    display:flex;
    align-items:center;
    justify-content: end;
}
#nav-menu ul li a{
    display:block;
    color:var(--hover);
    font-size:1rem;
    padding:8px 20px;
    transition: 0.2s;
    margin:0 .25rem;
}
#nav-menu a:hover,
#nav-menu a.active{
    color:var(--linkcolor);
}
#nav-menu a{
    position:relative;
    display:inline-block;
    padding:15px 30px;
    overflow: hidden;
    transition:0.2s;
}
#nav-menu a span{
    position:absolute;
    display:block;
}
#nav-menu a span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,var(--linkcolor));
}
#nav-menu a:hover span:nth-child(1){
    left:100%;
    transition:1s;
    box-shadow:0 8px 60px 0 lightgrey;
}
#nav-menu a span:nth-child(3){
    bottom:0;
    right:-100%;
    width:100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,var(--linkcolor));
}
#nav-menu a:hover span:nth-child(3){
    right:100%;
    transition:1s;
    transition-delay: 0.5s;
}
#nav-menu a span:nth-child(2){
    top:-100%;
    right:0;
    width:2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,var(--linkcolor));
}
#nav-menu a:hover span:nth-child(2){
    top:100%;
    transition:1s;
    transition-delay:0.25s;
}
#nav-menu a span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height: 100%;
    background:linear-gradient(360deg,transparent,var(--linkcolor));
}
#nav-menu a:hover span:nth-child(4){
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}
body{
	width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
	background: #02474E;
}
/* MAIN CONTENT - Vivien */
.spacer{
	width:100%;
	height: 100px;
}
.spacer2{
	width:100%;
	height: 50px;
}
body{
	background:#02474E;
	margin: 0px;
}
/* Landing Page Design. Includes overview of sections & call to action */
@media screen and (min-width: 400px) {
.flex-container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5%;
}
.flex-container > div {
  width: 30%;
  margin: 10px;
  line-height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.flex-container2 {
	display: grid;
	flex-wrap: wrap;
	justify-content:center;
	height: 200px;
}
h1, h2{
	text-align: center;
	color: #b99481;
	font-family:'Poppins',sans-serif;
}
html { 
	overflow-x: hidden;
}
/* Section to grab attention, inspired by a brand called Romagnoli Shoes link:https://romagnoli.com/ */
.movingLogo{ 
	top: 0; 
	left: 50%; 
	width: 100%; 
	padding: 25px 0; 
	background-color: transparent;
} 
/* Inspiration for moving text logo was taken from horizontally moving news headlines */
.logo_content { 
	position: sticky; 
	top: 0; 
	left: 0; 
	width: 100%; 
	padding: 25px 0; 
	background-color: #02474E;
	padding-top: 10%;
	display: block; 
	width: 100%; 
	transform: translateX(350%); /* Animation start out of the screen */ 
	animation: move 15s linear infinite /* Reapeat the animation indefinitely */; 
} 
/* Create the animation for shake effect on main logo image*/ 
@keyframes move { 
	to { transform: translateX(-220%); } 
}
#logoBig{ 
  /* Start the shake animation and make the animation last for 0.5 seconds */ 
	animation: shake 7s; 
  /* When the animation is finished, start again */ 
	animation-iteration-count: infinite; 
} 
@keyframes shake { 
	0% { transform: translate(1px, 1px) rotate(0deg); }  
	10% { transform: translate(-1px, -2px) rotate(-1deg); } 
	20% { transform: translate(-3px, 0px) rotate(1deg); } 
	30% { transform: translate(3px, 2px) rotate(0deg); } 
	40% { transform: translate(1px, -1px) rotate(1deg); } 
	50% { transform: translate(-1px, 2px) rotate(-1deg); } 
	60% { transform: translate(-3px, 1px) rotate(0deg); } 
	70% { transform: translate(3px, 1px) rotate(-1deg); } 
	80% { transform: translate(-1px, -1px) rotate(1deg); } 
	90% { transform: translate(1px, 2px) rotate(0deg); } 
	100% { transform: translate(1px, -2px) rotate(-1deg); } 	
}
/* Research on keyframes syntax was conducted on CSS-Tricks, W3 Schools and Stack Overflow */
/* Features section to contain prompts for user and links to each page as seen on landing page of https://th.ie/ */
.text-sm{
	color:#02474E;
	font-family:'Poppins',sans-serif;
}
.features .section-title{
	margin-bottom:48px;
	padding-top: 5%
}
.features-wrap{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-right:-12px;
	margin-left:-12px;
}
.features-wrap:first-child{
	margin-top:-12px
}
.features-wrap:last-child{
	margin-bottom:-12px
}
.feature{
	padding:12px;
	width:276px;
	max-width:276px;
	flex-grow:1
}
.feature-inner{
	height:100%;
	background:#b99481;
	padding:40px 24px;
	box-shadow:0 16px 48px #b99481;
}
/@supports (-ms-ime-align: auto){
.feature-inner{
	box-shadow:0 16px 48px rgba(31,43,53,0.12);
}
}
.feature-icon{
	display:flex;
	justify-content:center;
}
.feature-title{
	margin-top:12px;
	margin-bottom:8px;
	color: #02474E;
	text-align:center;
}
@media (min-width: 641px){
.features{
	position:relative;
}
.features .section-square{
	position:absolute;
	top:0;
	left:0;
	height:240px;
	width:44%;
	background:#F6F8FA;
}
.features .section-title{
	margin-bottom:56px
}
.feature-btn{
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    background: #02474E;
    outline: none;
    border-color: #02474E;
    border: none;
    cursor: pointer;
	color: #b99481;
	margin-top: 10%;
}
/*FOOTER - Madalina */
.footer-wrapper{
    margin-top:auto;
    width:100%;
    height:25%;
    border:1px solid red;
}
footer{
    background:var(--bgcolor);
    display:flex;
	width: 100%;
    
}
footer .footer-col{
    margin:1px 5px 0 2px;
    height:100%;
    width:25%;
    padding:10px 0  0 30px;
    line-height:1rem;
}

footer a{
    color:rgba(255,255,255,.5);
    font-size: .8rem;
}
footer .footer-col a:hover{
    color:var(--linkcolor);
}
footer .footer-col h3{
    color:var(--hover);
    font-weight: 200;
    margin-bottom: 10px;
    margin-top:10px;
}
footer .footer-col p{
    color:rgba(255,255,255,.5);
    font-size:.8rem;
    text-align: start;
}
footer .footer-col .icons{
    display:flex;
    align-items:start;
    justify-content: start;
    margin-top:10px;
}
footer .footer-col i{
 margin:8px 5px 0 0;
 color:var(--hover);
 background-color:rgba(255,255,255,.2);
 padding:5px;
 border-radius:5px;
 backdrop-filter: blur(4px);
}
footer .footer-col i:hover{
    color:var(--linkcolor)
}

footer #input-news{
    background:rgba(255,255,255,.8);
    padding:3px 9px;
    border-radius:5px;
    backdrop-filter: blur(5px);
    margin-top:30px;
}
footer #subs-news{
    background-color:var(--hover);
    padding:3px 9px;
    border-radius:5px;
    color:var(--bgcolor);
    font-weight: 600;
    font-size:.9rem;
}
footer #subs-news:hover{
    background-color:var(--linkcolor);
    color:var(--hover);
}
footer #copy{
    font-size:.8rem;
    margin-top:25px;
}
