@import url(global.css);
@import url(nav.css);
@import url(footer.css);
/* global */
section .slider,
.slider-topics-section,
.our-team{
    min-height:100%;
    margin-bottom:2rem;
    min-width:100%;
}
/*================ section slider===========*/
.slider{
    height:90%;
    width:90%;
    margin:0 auto;
    margin-bottom:8rem;
    margin-top:3.5%;
}

/* =====================slider============= */
.container {
    display: flex;
    justify-content: center;
    border:1px solid var(--bgcolor);
    box-shadow:6px 6px 20px rgba( 2, 46, 51,.5);
    overflow: hidden;
  }
  .thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
  }
  .thumbnails li {
      flex: auto;
    }

    .thumbnails a {
      display: block;
    }

    .thumbnails   img {
      width: 70vmin;
      height: 33.33vmin;
      object-fit: cover;
      object-position: top;
      border:1px solid var(--bgcolor);
    }
.slides {
    overflow: hidden;
    width:100%;
  }
  /* ============slider1,2,3============= */
  .slide-text{
    width:100%;
    height:30%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    position: absolute;
    top:55%;
    left:25%;
    background-color:rgba( 2, 46, 51,.6);
    border-radius:0 4rem 0 4rem;
    border:1px solid var(--bgcolor);
    padding:1rem;
    font-weight:400;
    font-size: .8rem;
 
  }
.slide-h1{
    color:var(--hover);
    font-weight:500;
  }
.slide-h3{
  color:var(--linkcolor);
  font-weight:500;
  }
.slide-p{
 color:#fff;
 font-weight: 400;
  }
.slider-btn{
    background-color:var(--bgcolor);
    color:white;
    padding:.7rem;
    border-radius: .5rem;
    cursor:pointer;
    font-size:.9rem;
    margin-top:1rem;
}
/* ===========end of slider1 ============*/
.slides  li {
      width: 100vmin;
      height: 100vmin;
      position: absolute;
      z-index: 1;
    }

.slides  img {
      height: 100vmin;
      object-fit: cover;
      object-position: top;
      border:1px solid var(--bgcolor);
    }

  .slides li:target {
    z-index:3;
    animation:slide 1s infinite 1;
    -webkit-animation: slide 1s 1 ;
  }

  .slides li:not(:target) {
    animation:hidden 1s infinite 1;
    -webkit-animation: hidden 1s 1;
  }

  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }
  /*-------------- topic links section -----------*/
  /* section topics */
  .topics-h1{
    font-size: 3rem;
    text-align:center;
    margin-bottom: 4rem;
    color:var(--bgcolor);
    box-shadow: 4px 4px 8px darkgray;
    text-shadow: 8px 4px 8px darkgray;
  }

  #topics-span{
    color:var(--linkcolor);
  }
  .slider-topics{
    width:90vw;
    min-height:100vh;
    margin-bottom:20vh;
    margin:0 auto;
  }
  /* the foxfit way  */
  .the-foxfit-way{
    display:flex;
    justify-content: center;
    height:100vh;
    padding:1.5rem;
  }
  .foxfit-text{
    width:60%;
    height:50%;
    margin-top:0;
    border:1px solid darkgray;
    border-radius:0 4rem 0 4rem;
    padding:1.2rem;
    background-color: rgba( 2, 46, 51,.7);
    color:white;
    font-weight: 200;
    font-size:.9rem;
    text-align:start;
    transition:1s ease;
  }
  .foxfit-text:hover{
    scale:1.1;
  }
  .foxfit-text h3{
    color:var(--linkcolor);
  }
  .foxfit-img{
    position:relative;
  }
  .foxfit-img img{
    width:95%;
    height:80%;
    margin-top:18%;
    margin-left:5%;
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    border:1px solid darkgrey;
  }
  /* our method */
  .our-method{
    display:flex;
    justify-content: center;
    height:100vh;
    padding:1.5rem;
  }
  .ourmethod-text{
    width:50%;
    height:50%;
    margin-top:20%;
    border:1px solid darkgray;
    border-radius:0 4rem 0 4rem;
    padding:1.2rem;
    background-color: rgba( 2, 46, 51,.7);
    color:white;
    font-weight: 200;
    font-size:.9rem;
    text-align:start;
    transition:1s ease;
  }
  .ourmethod-text:hover{
    scale:1.1;
  }
  .ourmethod-text h3{
    color:var(--linkcolor);
  }
  .ourmethod-img{
    position:relative;
  }
  .ourmethod-img img{
    width:95%;
    height:80%;
    margin-top:0;
    margin-left:0;
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    border:1px solid darkgrey;
  }
  /*============= our mission ===============*/
  .our-mission{
    display:flex;
    justify-content: center;
    height:100vh;
    padding:1.5rem;
  }
  .ourmission-text{
    width:50%;
    height:50%;
    margin-top:0;
    border:1px solid darkgray;
    border-radius:0 4rem 0 4rem;
    padding:1.2rem;
    background-color: rgba( 2, 46, 51,.7);
    color:white;
    font-weight: 200;
    font-size:.9rem;
    text-align:start;
    transition:1s ease;
  }
  .ourmission-text:hover{
    scale:1.1;
  }
  .ourmission-text h3{
    color:var(--linkcolor);
  }
  .ourmission-img{
    position:relative;
  }
  .ourmission-img img{
    width:95%;
    height:80%;
    margin-top:18%;
    margin-left:5%;
    box-shadow: 4px 4px 16px rgba(0,0,0,.5);
    border:1px solid darkgrey;
  }
  /*===================== our team============ */
.our-team{
    margin-bottom:8rem;
}
.our-team h1{
    text-align:center;
    margin-top:2rem;
    font-size:3rem;
    color:var(--bgcolor);
    box-shadow: 4px 4px 8px darkgray;
    text-shadow: 8px 4px 8px darkgray;
}
#our-team-span{
    color:var(--linkcolor);
}
.vertical-line{
  position:absolute;
  height:280%;
  width:4px;
  background:var(--linkcolor);
  left:50%;
  margin-top:5%;
  transform:translateX(-50%);
}
.our-team-container{
    width:90vw;
    min-height:100vh;
    margin:5% auto;
    padding:0 2%;
}
.our-team-box{
    background:var(--linkcolor);
    width:25%;
    position:relative;
    padding:1rem;
    border-radius:1rem;
    box-shadow: 2px 2px 8px darkgrey;
    z-index:5;
}
.our-team-box::before{
    position: absolute;
    content:"";
    height:30px;
    width:30px;
    background:var(--linkcolor);
    margin-top:25px;
    transform:rotate(45deg);
    z-index:-1;
}
.our-team-box img{
    width:100%;
    transition:1s ease;
}
.our-team-box img:hover{
    scale:1.05;
}
.our-team-box h4{
    color:var(--hover);
}
.our-team-box p{
    color:var(--bgcolor);
}
.box-1,.box-3,.box-5{
  margin-left:22%;
}
.box-1::before,
.box-3::before,
.box-5::before{
    right:-7px;
}
.box-2::before,
.box-4::before,
.box-6::before{
    left:-7px;
}
.box-2,.box-4,.box-6{
   margin-left:53%;
}
.box-1 i,
.box-3 i,
.box-5 i{
    position:absolute;
    color:var(--linkcolor);
    margin-left:99%;
    margin-top:5%;
    font-size:45px;
}
.box-2 i,
.box-4 i,
.box-6 i{
    position:absolute;
    color:var(--linkcolor);
    margin-left:-25%;
    margin-top:5%;
    font-size:45px; 
}
/*=============== media=========== */

@media screen and (max-width:740px){
  /*================ section slider===========*/
.slider{
  height:100%;
  width:100vw;
  margin:0 auto;
  margin-bottom:2rem;
  margin-top:3.5%;
}
/* =====================slider============= */
.container {
  display: flex;
  justify-content: center;
  border:1px solid var(--bgcolor);
  box-shadow:6px 6px 20px rgba( 2, 46, 51,.5);
  overflow: hidden;
}
.thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.thumbnails li {
    flex: auto;
  }

  .thumbnails a {
    display: block;
  }

  .thumbnails   img {
    width:50vmin;
    height: 33.33vmin;
    object-fit: cover;
    object-position: top;
    border:1px solid var(--bgcolor);
  }
.slides {
  overflow: hidden;
  width:50vw;
}
/* ============slider1,2,3============= */
.slide-text{
  width:100%;
  height:50%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  position: absolute;
  top:50%;
  left:.5%;
  background-color:rgba( 2, 46, 51,.6);
  border-radius:0 4rem 0 4rem;
  border:1px solid var(--bgcolor);
  padding:1rem;
  font-weight:400;
  font-size: .8rem;

}
.slide-h1{
  color:var(--hover);
  font-weight:500;
}
.slide-h3{
color:var(--linkcolor);
font-weight:500;
}
.slide-p{
color:#fff;
font-weight: 400;
}
.slider-btn{
  background-color:var(--bgcolor);
  color:white;
  padding:.7rem;
  border-radius: .5rem;
  cursor:pointer;
  font-size:.9rem;
  margin-top:1rem;
}
/* ===========end of slider1 ============*/
.slides  li {
    width: 100vmin;
    height: 100vmin;
    position: absolute;
    z-index: 1;
  }

.slides  img {
    height: 100vmin;
    object-fit: cover;
    object-position: top;
    border:1px solid var(--bgcolor);
  }

.slides li:target {
  z-index:3;
  animation:slide 1s infinite 1;
  -webkit-animation: slide 1s 1 ;
}

.slides li:not(:target) {
  animation:hidden 1s infinite 1;
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
   /* the foxfit way  */
   .the-foxfit-way{
    display:block;
    justify-content: center;
    height:100vh;
    padding:1.5rem;
  }
  .foxfit-text{
    width:100%;
    height:auto;
    margin-top:0;
    border:1px solid darkgray;
    border-radius:0 4rem 0 4rem;
    padding:1.2rem;
    background-color: rgba( 2, 46, 51,.7);
    color:white;
    font-weight: 200;
    font-size:.9rem;
    text-align:start;
    transition:1s ease;
    position:relative;
    margin-top:90%;
  }
  .foxfit-text:hover{
    scale:1.1;
  }
  .foxfit-text h3{
    color:var(--linkcolor);
  }
  .foxfit-img{
    position:absolute;
    margin-top:-205%;
    margin-left:-15%;
  }
  .foxfit-img img{
    width:75%;
    height:80%;
    margin-top:27%;
    margin-left:14%;
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    border:1px solid darkgrey;
  }
    /* our method */
    .our-method{
      display:block;
      justify-content: center;
      height:100vh;
      padding:1.5rem;
    }
    .ourmethod-text{
      width:100%;
      height:auto;
      margin-top:20%;
      border:1px solid darkgray;
      border-radius:0 4rem 0 4rem;
      padding:1.2rem;
      background-color: rgba( 2, 46, 51,.7);
      color:white;
      font-weight: 200;
      font-size:.9rem;
      text-align:start;
      transition:1s ease;
      margin-top:60%;
    }
    .ourmethod-text:hover{
      scale:1.1;
    }
    .ourmethod-text h3{
      color:var(--linkcolor);
    }
    .ourmethod-img{
        position:absolute;
        margin-top:-10%;
        margin-left:3%;
    
    }
    .ourmethod-img img{
      width:85%;
      height:80%;
      margin-top:0;
      margin-left:0;
      box-shadow: 4px 4px 8px rgba(0,0,0,.5);
      border:1px solid darkgrey;
    }
  /*============= our mission ===============*/
  .our-mission{
    display:block;
    justify-content: center;
    height:100vh;
    padding:1.5rem;
    position:relative;
  }
  .ourmission-text{
    width:100%;
    height:auto;
    margin-top:0;
    border:1px solid darkgray;
    border-radius:0 4rem 0 4rem;
    padding:1.2rem;
    background-color: rgba( 2, 46, 51,.7);
    color:white;
    font-weight: 200;
    font-size:.9rem;
    text-align:start;
    transition:1s ease;
    margin-top:55%;
  }
  .ourmission-text:hover{
    scale:1.1;
  }
  .ourmission-text h3{
    color:var(--linkcolor);
  }
  .ourmission-img{
    position:absolute;
    margin-top:-205%;
  }
  .ourmission-img img{
    width:90%;
    height:80%;
    margin-top:18%;
    margin-left:5%;
    box-shadow: 4px 4px 16px rgba(0,0,0,.5);
    border:1px solid darkgrey;
  
  }
  
/* our team */
.our-team{
    margin-bottom:2rem;
    margin-top:-10rem;
}
.our-team h1{
    text-align:center;
    margin-top:1rem;
    font-size:2rem;
    color:var(--bgcolor);
    margin-bottom:2rem;
}
.vertical-line{
  position:absolute;
  height:208%;
  width:4px;
  background:var(--linkcolor);
  left:50%;
  margin-top:5%;
  transform:translateX(-50%);
}
.our-team-container{
    width:90vw;
    min-height:100vh;
    margin:2% auto;
    padding:0 1%;
}
.our-team-box{
    background:var(--linkcolor);
    width:45%;
    position:relative;
    margin-left:2%;
    padding:1rem;
    border-radius:1rem;
    box-shadow: 2px 2px 8px darkgrey;
    z-index:5;
    
}
.our-team-box::before{
    position: absolute;
    content:"";
    height:15px;
    width:15px;
    background:var(--linkcolor);
    margin-top:25px;
    transform:rotate(45deg);
    z-index:-1;
}
.our-team-box img{
    width:100%;
    transition:1s ease;
}
.our-team-box img:hover{
    scale:1.05;
}
.our-team-box h4{
    color:var(--hover);
}
.our-team-box p{
    color:var(--bgcolor);
}
.box-1,.box-3,.box-5{
  margin-left:-6%;
}
.box-1::before,
.box-3::before,
.box-5::before{
    right:-7px;
}
.box-2::before,
.box-4::before,
.box-6::before{
    left:-7px;
}
.box-2,.box-4,.box-6{
   margin-left:60%;
}
.box-1 i,
.box-3 i,
.box-5 i{
    position:absolute;
    color:var(--linkcolor);
    margin-left:97%;
    margin-top:5%;
    font-size:45px;
}
.box-2 i,
.box-4 i,
.box-6 i{
    position:absolute;
    color:var(--linkcolor);
    margin-left:-50%;
    margin-top:5%;
    font-size:45px; 
}
}
     
     

  