body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #02474E;
    color: #D1A273;
}
#header1{
	display:flex;
	flex:10;	
	align-items:center;
}
.game{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1000 px;
    justify-content: center;
    align-items: center;
}
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
	color: #D1A273;
}
.title{
    position: absolute;
    top: 10%;
    font-size: 60px;
	z-index: 2;
} 
.options{
    display: flex;
    width: 30px;
    justify-content: space-evenly;
    margin-top: 5px;
}
.rock, .paper, .scissors, .link, #click{
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    background: #D1A273;
    outline: none;
    border-color: #D1A273;
    border: none;
    cursor: pointer;
	color: #02474E;
}
.move, .movesLeft, #lyrics{
    font-size: 30px;
    font-weight: bold;
}
.result{
    margin-top: 20px;
    font-size: 18px;
}
